nav
  ul.nav-list
    li
      a(href="/admin") Home Page
    li
      a(href="/admin/product-add") Product Input
    li
      a(href="/admin/type-category") Category and Shoe Type Setting
    li
      a(href="/admin/view") Product View
    li
      a(href="/admin/brand-edit") Brand Page
    li
      a.disabled(href="/admin/pages-setting") Pages Setting

