html
  head
    include ./includes/meta-data.pug
    title BT Manager Application
  body
    h1 App is running
    a(href="/admin") to admin page
    br
    p currently developing - 
      a(href="/ser/doc") api doc

