doctype html
html(lang="en")
  head
    include ../includes/meta-data.pug
    title= "BT-Admin: " + title
    block style
      link(rel="stylesheet" href="/admin/style/main.css")
  body
    main
      block content

    block script
      script(src="/admin/js/main.js")
